{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
    <div class="homepage">
        <h1>Bienvenido al Club de Tenis</h1>

        <img src="https://www.clubtenisrozas.es/contenidos/html/web/club/imagenes/quienes1.jpg" alt="Club de Tenis" class="home-image">

        <p class="slogan">¡Diviértete en el mejor club de tenis y mejora tu salud!</p>

        <p class="cta">
            <a href="/members/">Ver miembros del club</a>
        </p>
    </div>
  
{% endblock %}